workflow/resume-analysis.json
{
  "name": "resume-analysis",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "reume",
        "name": "={{ $json['name '] }} resume",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jmgySOTO5Xduku9-8_vfZGpSoD_Bgi0f",
          "mode": "list",
          "cachedResultName": "n8n_resume_analysis",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jmgySOTO5Xduku9-8_vfZGpSoD_Bgi0f"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        80
      ],
      "id": "97863b1f-d122-4ae7-b1ab-2e2a3b9f7658",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x4npy9B4AHObxQnI",
          "name": "demo-main mail"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40086d25-edef-42fd-bacd-7aedab55a062"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "07f2e916-c823-4f88-b9a5-a079bcaf8db5",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a7f771f-b340-4664-bd07-558166b786fb",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1392,
        64
      ],
      "id": "8cbc7caf-43f2-49c6-bff1-88b29cb591fd",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1648,
        -128
      ],
      "id": "fb3dd051-b018-4b16-b7f8-837017df4233",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x4npy9B4AHObxQnI",
          "name": "demo-main mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        -128
      ],
      "id": "4750dff8-a096-4757-94d7-7c167652ca60",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x4npy9B4AHObxQnI",
          "name": "demo-main mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2032,
        -128
      ],
      "id": "d07e2f9a-66e5-4c5b-86af-87b20816cc4e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "formTitle": "resume analyser",
        "formDescription": "pls fill this form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name ",
              "placeholder": "hriday pipalia"
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "placeholder": "itshriday2442@gmail.com"
            },
            {
              "fieldLabel": "reume",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        1008,
        80
      ],
      "id": "fc7cd65f-3280-4485-b42a-124f6c74ccd8",
      "name": "On form submission",
      "webhookId": "25ef1b9b-01f6-495e-adb0-1090fd7857f3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e014912a-b217-409b-b0dd-e159548ac59d",
              "name": "text ",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -128
      ],
      "id": "f223b5b0-1b3a-4b72-8290-6781f5e649d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "15yGb65OM5_FNPsOXtPHrNORXtE5iX4_H5WJjLYKGGpI",
          "mode": "list",
          "cachedResultName": "n8n demo Job Title",
          "cachedResultUrl": "https://docs.google.com/document/d/15yGb65OM5_FNPsOXtPHrNORXtE5iX4_H5WJjLYKGGpI/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2528,
        -128
      ],
      "id": "453f21d4-35f2-4f8b-b3f3-1763230de138",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x4npy9B4AHObxQnI",
          "name": "demo-main mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2752,
        -128
      ],
      "id": "327552c2-5fc2-4e99-b6aa-1476714ca6bd",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2400,
        368
      ],
      "id": "1e74da07-4edf-4140-9374-d9377650cc09",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E5yFMbH2PmlpOWzc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"resume_screening_evaluation\",\n  \"description\": \"Analyzes a candidate's resume against a job description and outputs strengths, weaknesses, risk/reward assessment, and an overall fit score.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_strengths\": {\n      \"type\": \"array\",\n      \"description\": \"A list of specific strengths or qualifications that match the job description.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"candidate_weaknesses\": {\n      \"type\": \"array\",\n      \"description\": \"A list of areas where the candidate falls short or lacks alignment with the job requirements.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"risk_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential risks of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The risk level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A brief explanation of the worst-case scenario if the candidate is hired.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"reward_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential upside of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The reward level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A description of the best-case scenario and whether the candidate is a short-term or long-term fit.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"overall_fit_rating\": {\n      \"type\": \"integer\",\n      \"description\": \"A rating from 0 to 10 indicating how well the candidate matches the job description.\",\n      \"minimum\": 0,\n      \"maximum\": 10\n    },\n    \"justification_for_rating\": {\n      \"type\": \"string\",\n      \"description\": \"A summary explaining why the candidate received the specific fit rating, referencing resume and job description alignment.\"\n    }\n  },\n  \"required\": [\n    \"candidate_strengths\",\n    \"candidate_weaknesses\",\n    \"risk_factor\",\n    \"reward_factor\",\n    \"overall_fit_rating\",\n    \"justification_for_rating\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2224,
        368
      ],
      "id": "7275c576-cdee-42d3-ad65-db4d371db42e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "text": "={{ $('Edit Fields').item.json['text '] }}",
        "attributes": {
          "attributes": [
            {
              "name": "first name ",
              "description": "first name of the candidate ",
              "required": true
            },
            {
              "name": "last name",
              "description": "last name of the candidate ",
              "required": true
            },
            {
              "name": "email",
              "description": "email address of the candidate ",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2496,
        128
      ],
      "id": "6fd8a238-bada-476e-b96f-28d7591e8dbe",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=candidate's resume :\n{{ $('Edit Fields').item.json['text '] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert technical recruiter specializing in AI, automation, and software roles. You have been given a job description and a candidate resume. Your task is to analyze the resume in relation to the job description and provide a detailed screening report. \n\nFocus specifically on how well the candidate matches the core requirements and ideal profile outlined in the job description. Evaluate both technical skill alignment and business-context understanding. Use reasoning grounded in the actual content of the resume and job post — avoid making assumptions.\n\n## Output\nYour output should follow this exact format:\n\nCandidate Strengths:  \nList the top strengths or relevant qualifications the candidate brings to the table. Be specific.\n\nCandidate Weaknesses:\nList areas where the candidate is lacking or mismatched based on the job description.\n\nRisk Factor:\n- Assign a risk score (Low / Medium / High)  \n- Explain the worst-case scenario if this candidate is hired.\n\nReward Factor: \n- Assign a reward score (Low / Medium / High)  \n- Describe the best-case scenario — what value could this candidate unlock?  \n- Does the candidate appear to be a short-term or long-term fit?\n\nOverall Fit Rating (0–10):  \nAssign a number between 0 (terrible match) and 10 (perfect match). Do not give decimals.\n\nJustification for Rating:\nExplain clearly why this candidate received that score. Reference specific resume content and how it aligns or doesn't with the job description.\n\n## Job Description\n{{ $json.text }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2192,
        128
      ],
      "id": "71c4d436-723b-4fcb-ac32-6577dcf6307e",
      "name": "recruiter Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14XHPWQfPqjpJi1E-OOcqF8QjAGKeZ_ba8fb5QXmIFas",
          "mode": "list",
          "cachedResultName": "n8n-resume-analyzers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XHPWQfPqjpJi1E-OOcqF8QjAGKeZ_ba8fb5QXmIFas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XHPWQfPqjpJi1E-OOcqF8QjAGKeZ_ba8fb5QXmIFas/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.format('yyyy-MM-dd') }}",
            "resume": "={{ $('Upload file').item.json.webViewLink }}",
            "fisrt name": "={{ $json.output['first name '] }}",
            "last name": "={{ $json.output['last name'] }}",
            "email": "={{ $json.output.email }}",
            "strength": "={{ $('recruiter Agent').item.json.output.candidate_strengths.join(\"\\n\\n\") }}",
            "weakness": "={{ $('recruiter Agent').item.json.output.candidate_weaknesses.join(\"\\n\\n\") }}",
            "risk factor": "={{ $('recruiter Agent').item.json.output.risk_factor.score }}\n\n{{ $('recruiter Agent').item.json.output.risk_factor.explanation }}",
            "reward factor": "={{ $('recruiter Agent').item.json.output.reward_factor.score }}\n\n{{ $('recruiter Agent').item.json.output.reward_factor.explanation }}\n",
            "overall fit": "={{ $('recruiter Agent').item.json.output.overall_fit_rating }}",
            "justification": "={{ $('recruiter Agent').item.json.output.justification_for_rating }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume",
              "displayName": "resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fisrt name",
              "displayName": "fisrt name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strength",
              "displayName": "strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weakness",
              "displayName": "weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk factor",
              "displayName": "risk factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reward factor",
              "displayName": "reward factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overall fit",
              "displayName": "overall fit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justification",
              "displayName": "justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2832,
        128
      ],
      "id": "f2cb9e62-499f-48fb-82eb-7253029543fc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SsIj9bDlIhHiNQjy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        96
      ],
      "id": "c33eeaa2-e219-4840-b529-2bf25712bad2",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x4npy9B4AHObxQnI",
          "name": "demo-main mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1840,
        96
      ],
      "id": "f7a6a72d-cec6-4c08-8e56-8c69bab90c8a",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        336
      ],
      "id": "fa90d024-960c-4023-86e5-bdacba6e7bc6",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x4npy9B4AHObxQnI",
          "name": "demo-main mail"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1856,
        336
      ],
      "id": "b2808c34-1434-4600-b4b4-1c911a8bf8ad",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "content": "## Resume Collection\n",
        "height": 224,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        0
      ],
      "typeVersion": 1,
      "id": "867dadff-f2e8-49b3-afa7-016a1daac0d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## File type",
        "height": 224,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        0
      ],
      "typeVersion": 1,
      "id": "81def916-1b7d-4373-ad7b-1936c38f782c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## word Doc\n",
        "height": 208,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -192
      ],
      "typeVersion": 1,
      "id": "90bf91d0-28f6-48a9-9af2-dd8346fc8fa1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## PDF\n",
        "height": 208,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        32
      ],
      "typeVersion": 1,
      "id": "ec5fecc6-d4fe-4305-9218-e7ab2e0b5c6f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Text file\n",
        "height": 224,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        272
      ],
      "typeVersion": 1,
      "id": "eb819f5d-95d3-4530-af34-b65ee9d77483",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Analysis and information\n",
        "height": 208,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        64
      ],
      "typeVersion": 1,
      "id": "0c373dee-bb4d-450e-9e04-29fdfe1bd5e4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Model and parser\n",
        "height": 208,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        288
      ],
      "typeVersion": 1,
      "id": "0bdc0e6b-5a44-499f-827b-00d5441e74b9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Standardize\n",
        "height": 208,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        -192
      ],
      "typeVersion": 1,
      "id": "83475db5-6744-410c-9ca0-400feb13080c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Get job Description\n",
        "height": 208,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        -192
      ],
      "typeVersion": 1,
      "id": "4bcbd67b-0933-4f0a-b45a-b8aef95867f0",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "recruiter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "recruiter Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "recruiter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "recruiter Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c80fb474-4042-4206-942f-7fdf70a882d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f0d350ce548e6a48386a339230f08b2a91c65156b8e175776ff02293949fb80"
  },
  "id": "2N2lMBG2mNe92J5z",
  "tags": []
}